{$MAX_PUBLIC_HOST} {
	encode zstd gzip

	@api path /api/*
	reverse_proxy @api 127.0.0.1:8000
	reverse_proxy 127.0.0.1:5173

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		-Server
	}
}
